---
---

// SASS mixins =================================================================
@mixin border-radius($radius) {-moz-border-radius: $radius; -webkit-border-radius: $radius; border-radius: $radius; background-clip: padding-box;}

// Resets and Universal Classes ================================================
html, body {margin:0px; padding:0px; width:100%; min-height:100%; overflow-x: hidden !important;}
h1, h2, h3, h4, h5, h6 {margin:0px;}
img {max-width:100%; border:0px;}
a {text-decoration:none; color:inherit;}
#preload {display:none;}
div, input, textarea {box-sizing:border-box;}
input, textarea {border:0px; font-family:inherit; -webkit-appearance: none;}
input:focus, textarea:focus {outline:none;}
.clear {clear:both;}

// Spacing Variables
$pad: 30px; // default and standard
$pad_: 20px; // tablet and mobile
$spacer: 45px;
$spacer_: 30px;

// breakpoint: reponsive adaptation mixin
@mixin breakpoint($point) {
	// tablet
    @if $point == m{
        @media screen and (max-width: 920px)  {@content;}
    }
	// mobile
    @if $point == s {
        @media screen and (max-width: 760px)  {@content;}
    }
	// small mobile
    @else if $point == xs {
        @media screen and (max-width:375px) {@content;}
    }
}

// Spacing
@mixin row {margin-top:$pad; @include breakpoint(xs) {margin-top:$pad_;}}
@mixin spacer {margin-top:$spacer; @include breakpoint(xs) {margin-top:$spacer_;}}

// Colors, Fonts, Frills =======================================================
$text: #222;
$text_subtle: #999;
$subtle: #ddd;
$subtle_: #ccc;

// Backgrounds
body {
	background-position:center center; background-attachment:fixed; background-size:cover;
	&.bg-0 {background-image:url("/uploads/30.jpg");}
	&.bg-1 {background-image:url("/uploads/40.jpg");}
	&.bg-2 {background-image:url("/uploads/41.jpg");}
	&.bg-3 {background-image:url("/uploads/53.jpg");}
	&.bg-4 {background-image:url("/uploads/57.jpg");}
}

// Fonts
body {
	font-family:'Avenir', 'Helvetica', 'Arial', sans-serif; font-size:16px; 
	line-height:1.4; font-weight:300; color:$text;
}
em {font-weight:400;}
b {font-weight:700;}

h1 {
	font-size:32px;
	@include breakpoint(xs) {font-size:28px;}
}
h2 {font-size:20px; font-weight:700;}
h3 {font-size:18px; font-weight:400;}
.detail {color:$text_subtle; margin-top:10px;}

// Links
@mixin link {
	a {
		border-bottom:1px solid $subtle; 
		&:hover {border-bottom:1px solid $subtle_;}
	}
}

// Layout ====================================================

.container {
	position:relative; margin-left:20px; background:white; width:880px; padding-top:1px;
	@include breakpoint(m) {margin:0px 20px; width:auto;}
	@include breakpoint(s) {margin:0px; margin-left:10px;}
}

header {
	position:fixed; left:20px; top:0px; background:white; z-index:20; width:120px; padding:$pad 0px;
	.headshot {margin-left:20px; height:48px; width:48px; @include border-radius(50%);}
	.navigation {
		margin-top:10px;
		a {
			display:block; padding-left:20px; line-height:1.5; color:$text_subtle;
			&:hover {color:$text;}
		}
	}
	@include breakpoint(s) {
		position:relative; top:auto; left:auto; margin-top:$pad; padding:0px $pad; width:auto;
		.headshot {margin:0px;}
		.navigation a {display:inline-block; padding:0px; margin-right:12px;}
	}
	@include breakpoint(xs) {
		margin-top:$pad_; padding:0px $pad_;
	}
}

.main {
	margin-left:120px; padding:$pad 80px $pad $pad;
	@include breakpoint(m) {padding:$pad;}
	@include breakpoint(s) {margin-left:0px;}
	@include breakpoint(xs) {padding:$pad_;}
}

.item {
	@include spacer;
	.detail {font-size:14px; margin-top:0px;}
}

.content {
	line-height:1.5; @include link;
}

footer {
	@include spacer; color:$text_subtle;
	p {margin:0px;}
}

// Basic Elements ========================================================
.row {@include row;}
.spacer {@include spacer;}

.tags {
	margin:10px 0px -6px;
	span {display:inline-block; margin-right:6px; margin-bottom:6px; padding:4px 6px; line-height:1;
		border:1px solid $subtle_; font-size:13px; @include border-radius(2px);}
	span:hover, span.active {background:$subtle;}
	a {border:0px;}
}

.screen {
	background-image:url('browser.svg'); background-size:100%; overflow:hidden;
	text-align:center;
	img {margin-top:5%; width:96%; display:inline-block;}
}

.buttons {
	@include row; @include link;
	a {display:inline-block; margin-right:15px;}
}

.screens {
	@include spacer; margin-left:-150px; margin-right:-80px; overflow-x:scroll; white-space:nowrap; text-align:center; 
	@include breakpoint(xs) {margin:0px -$pad_;}
	.screen-item {
		display:inline-block; vertical-align:top;
		margin-right:$pad; width:480px; padding:0px 0px 30px;
		white-space:normal; text-align:left;
		@include breakpoint(s) {width:440px;}
		@include breakpoint(xs) {width:400px; margin-right:$pad_;}
		.screen {
			display:block; width:100%; max-height:320px;
			@include breakpoint(s) {max-height:300px;}
			@include breakpoint(xs) {max-height:260px;}
			img {margin-left:2%; margin-right:2%;}
		}
		.caption {display:block; margin-top:15px; width:80%;
			font-size:14px; font-weight:300; line-height:1.5; color:$text_subtle;}
	}
	.screen-item:first-of-type {margin-left:150px;}
	@include breakpoint(m) {
		margin-right:-$pad;
	}
	@include breakpoint(s) {
		margin-left:-$pad;
		.screen-item:first-of-type {margin-left:$pad;}
	}
	@include breakpoint(xs) {
		margin-left:-$pad_;
		.screen-item:first-of-type {margin-left:$pad_;}
	}
}

.bullets {
	.bullet {
		@include row; position:relative; padding-left:44px;
		.icon {position:absolute; top:0px; left:0px; color:#666; line-height:1.5;}
		h2 {font-size:20px; line-height:1;}
		strong {font-weight:400;}
		p:first-of-type {margin-top:8px;}
		p:last-of-type {margin-bottom:0px;}
	}
}

.study {
	@include row;
	img {
		max-width:300px; max-height:80px;
		@include breakpoint(s) {
			width:100%; max-width:100%;
		}
	}
	.links {
		margin-top:10px;
		a {display:inline-block; margin-right:15px;}
	}
}

// Page-specific Styles ========================================================
body.home {
	.content {font-size:18px;}
	.content.row {margin-top:10px;}
	.content p:first-of-type {margin-top:0px;}
}

// Imports =====================================================================
@import "fonts";
