---
---

// SASS mixins =================================================================
@mixin box-shadow($shadow) {-moz-box-shadow: $shadow; -webkit-box-shadow: $shadow; box-shadow: $shadow;}
@mixin border-radius($radius) {-moz-border-radius: $radius; -webkit-border-radius: $radius; border-radius: $radius; background-clip: padding-box;}
@mixin transition($transition) {-webkit-transition: $transition; -moz-transition: $transition; -o-transition: $transition; transition: $transition;}
@mixin box-sizing($type) {-webkit-box-sizing: $type; -moz-box-sizing: $type; box-sizing: $type;}
@mixin animate($animation, $speed) {-webkit-animation-duration:$speed; animation-duration:$speed;
    -webkit-animation-fill-mode:both; animation-fill-mode:both;
	-webkit-animation-name:$animation; animation-name:$animation;}
@mixin noselect() {
		-webkit-touch-callout: none; /* iOS Safari */
		  -webkit-user-select: none; /* Safari */
		   -khtml-user-select: none; /* Konqueror HTML */
			 -moz-user-select: none; /* Firefox */
			  -ms-user-select: none; /* Internet Explorer/Edge */
				  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

// Resets and Universal Classes ================================================
html, body {margin:0px; padding:0px; width:100%; overflow-x: hidden !important;}
h1, h2, h3, h4, h5, h6 {margin:0px;}
img {max-width:100%; border:0px;}
a {text-decoration:none; color:inherit;}
#preload {display:none;}
div, input, textarea {box-sizing:border-box;}
input, textarea {border:0px; font-family:inherit; -webkit-appearance: none;}
input:focus, textarea:focus {outline:none;}
.clear {clear:both;}

// Responsive Layout Scheme ====================================================

// Spacing Variables
$pad: 30px; // default and standard
$pad_: 20px; // tablet and mobile

// breakpoint: reponsive adaptation mixin
@mixin breakpoint($point) {
	// mobile
    @if $point == s {
        @media screen and (max-width: 760px)  {@content;}
    }
	// small mobile
    @else if $point == xs {
        @media screen and (max-width:440px) {@content;}
    }
}

// Container
.container {position:relative; margin:0px auto;
	width:720px; margin:0px auto;
	@include breakpoint(s) {width:auto; margin:0px $pad;}
	@include breakpoint(xs) {margin:0px $pad_;}
}

// Spacing
@mixin row {margin-top:$pad; @include breakpoint(xs) {margin-top:$pad_;}}
@mixin rowpad {padding-top:$pad; @include breakpoint(xs) {padding-top:$pad_;}}

// Colors, Fonts, Frills =======================================================

$text: #222;
$text_subtle: #999;
$subtle: #eee;
$subtle_: #ddd;

// Fonts
body {font-family:'Avenir', 'Helvetica', 'Arial', sans-serif; font-size:16px; 
	line-height:1.2; font-weight:400; color:$text;}
em {font-weight:400; font-style:italic;}
b {font-weight:700;}
h1 {
	font-size:36px; line-height:1.2; 
	@include breakpoint(xs) {font-size:30px;}
}
h2 {
	font-size:24px; line-height:1.2; font-weight:400; margin-top:10px;
	@include breakpoint(xs) {font-size:22px;}
}
a {border-bottom:1px solid $subtle; &:hover {border-bottom:1px solid $subtle_;}}
.detail {color:$text_subtle; margin-top:8px;}
.pagetitle:before {
	content:""; float:right; width:150px; height:30px;
	@include breakpoint(xs) {width:30px;}
}

// Basic Layout Elements ========================================================

#corner {
	position:absolute; top:0px; left:40%; width:60%; height:18vw; max-height:260px;
	background-size:cover; background-repeat:no-repeat; z-index:20;
	-webkit-clip-path: polygon(100% 0, 0 0, 100% 100%); clip-path: polygon(100% 0, 0 0, 100% 100%);
	@include breakpoint(xs) {left:auto; right:0px; height:150px; width:150px;}
	
	&.image-0 {background-image:url("/uploads/30.jpg");}
	&.image-1 {background-image:url("/uploads/40.jpg");}
	&.image-2 {background-image:url("/uploads/41.jpg");}
	&.image-3 {background-image:url("/uploads/53.jpg");}
	&.image-4 {background-image:url("/uploads/57.jpg");}
}

header {
	margin-top:$pad; padding-bottom:20px; text-transform:lowercase;
	.title {font-size:30px; font-weight:700; line-height:1;}
	.navigation {
		margin-top:10px;
		a {
			display:inline-block; margin-right:20px; font-size:16px;
			padding-bottom:2px; border-bottom:1px solid rgba(0,0,0,0);
		}
	}
}

.content {
	@include row; font-size:18px; font-weight:300; line-height:1.6;
	@include breakpoint(xs) {font-size:16px; line-height:1.5;}
}

.tags {
	margin:10px 0px -10px;
	span {display:inline-block; margin-right:10px; margin-bottom:10px; padding:4px 6px; line-height:1;
		border:1px solid $subtle_; font-size:13px; @include border-radius(2px);}
	span:hover, span.active {background:$subtle;}
	a {border:0px;}
}

.screen {
	background-image:url('browser.svg'); background-size:100%; overflow:hidden;
	text-align:center;
	img {margin-top:5%; width:96%;}
}

.post-item {
	@include row; @include rowpad; border-top:1px solid $subtle;
	.title {font-size:20px; font-weight:500;}
	.detail {margin-top:0px; font-size:14px;}
	.description {margin-top:10px;}
}

.project-item {
	@include rowpad;
	.screen {float:left; width:400px; height:240px; margin-right:$pad;}
	.title {padding-top:80px; font-size:20px; font-weight:500;}
	.description {margin-top:10px; line-height:1.4; font-weight:300;}
	&.even {
		background:#f8f8f8;
		.screen {float:right; margin-left:$pad; margin-right:0px;}
	}
	@include breakpoint(s) {
		text-align:center; padding-bottom:20px;
		.screen, &.even .screen {float:none; margin:0px auto; width:100%; height:auto; max-width:400px; max-height:240px;}
		.title {padding-top:20px;}
	}
}

.contact-item {
	@include row;
	i {display:inline-block; font-size:32px; line-height:1; margin-right:15px; vertical-align:top;}
	span {vertical-align:top; font-size:20px; font-weight:300; line-height:32px;}
}

footer {
	@include row; padding:$pad 0px; border-top:1px solid $subtle; 
	color:$text_subtle;
	p {margin:0px;}
}

// Page-specific Styles ========================================================
body.home {
	.content {font-size:22px;}
}
body.post {
	.tags {margin:10px 0px 20px;}
}
body.projects {
	footer {margin-top:0px;}
}
body.project {
	text-align:center;
	#corner {display:none;}
	header .navigation a {margin:0px 10px;}
	.screens {
		margin:$pad 0px; overflow-x:auto; text-align:left;
		.screen-item {
			display:inline-block; margin-left:$pad; width:540px;
			.screen {max-height:360px;}
			.caption {display:block; margin-top:15px; font-size:12px; font-weight:300;}
		}
	}
	.left-align {text-align:left;}
}
body.mississippi {
	.stats {
		@include row;
		margin-bottom:-20px;
		.stat {
			display:inline-block; vertical-align:top; margin-bottom:20px; margin-right:$pad;
			.title {font-size:13px; text-transform:uppercase; margin-bottom:6px;}
			.value {font-size:20px; font-weight:500;}
			.note {font-size:12px; margin-top:4px;}
		}
		#day {font-size:46px; line-height:1;}
	}
	.days {
		@include row;
		table {width:100%;}
		td {padding:10px 0px; border-top:1px solid $subtle_;}
		tr.head td {font-weight:bold; border-top:0px;}
		td.notecol {width:160px; @include breakpoint(s) {display:none;}}
	}
	.archives {
		@include row;
		.archive {
			@include row;
			& > .title {
				font-size:18px; font-weight:300; @include noselect; cursor:pointer;
				&:after {content:"\2193"; display:inline-block; margin-left:15px; margin-top:-2px; vertical-align:top;}
			}
			.list {
				display:none; margin-top:20px;
				.item {
					margin-top:20px;
					.title {font-weight:500;}
					.note {font-size:14px; margin-top:6px;}
					.time {font-size:13px; margin-top:4px;}
				}
			}
			&.expanded {
				& > .title:after {content:"\2191";}
				.list {display:block;}
			}
		}
	}
	#map {@include row; width:100%; height:320px;}
}

// Imports =====================================================================
@import "fonts";
