<!DOCTYPE html>
<html>
	<head>

		<!-- META Information -->
		<title>{% if page.layout != 'home' %}{{ page.title }} - {% endif %}{{ site.title }}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS Includes -->
		<link rel="stylesheet" href="/css/main.css">

		<!-- JS Includes -->
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>

	</head>
	<body class="{{ page.id }}">

		<!-- Corner -->
		<div id="corner"></div>
		
		<!-- Header -->
		<header>
			<div class="container">
				<a href="/"><div class="title">{{ site.title }}</div></a>
				<div class="navigation">
					{% for nav in site.navigation %}<a href="{{ nav.link }}">{{ nav.title }}</a>{% endfor %}
				</div>
			</div>
		</header>


	
