<!DOCTYPE html>
<html>
	<head>

		<!-- META Information -->
		<title>{% if page.layout != 'basic' %}{{ page.title }} ~ {% endif %}{{ site.title }}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS Includes -->
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

		<!-- JS Includes -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-10868878-53"></script>
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>

	</head>
	<body {% if page.css %}class="{{ page.css }}"{% endif %}>

		<div class="container">
		
			<!-- Header -->
			<header>
				<a href="/">
					<img src="{{ site.headshot }}" class="headshot" />
				</a>
				<div class="navigation">
				{% for page in site.nav %}
					<a href="{{ page.url }}">{{ page.title }}</a>
				{% endfor %}
				</div>
			</header>

			<div class="main">


	
