@font-face {
    font-family: 'Avenir';
    src: url('fonts/Avenir-Light-webfont.eot');
    src: url('fonts/Avenir-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Avenir-Light-webfont.woff') format('woff'),
         url('fonts/Avenir-Light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('fonts/Avenir-Roman-webfont.eot');
    src: url('fonts/Avenir-Roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Avenir-Roman-webfont.woff') format('woff'),
         url('fonts/Avenir-Roman-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('fonts/Avenir-Oblique-webfont.eot');
    src: url('fonts/Avenir-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Avenir-Oblique-webfont.woff') format('woff'),
         url('fonts/Avenir-Oblique-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('fonts/Avenir-Medium-webfont.eot');
    src: url('fonts/Avenir-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Avenir-Medium-webfont.woff') format('woff'),
         url('fonts/Avenir-Medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('fonts/Avenir-MediumOblique-webfont.eot');
    src: url('fonts/Avenir-MediumOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Avenir-MediumOblique-webfont.woff') format('woff'),
         url('fonts/Avenir-MediumOblique-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('fonts/Avenir-Black-webfont.eot');
    src: url('fonts/Avenir-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Avenir-Black-webfont.woff') format('woff'),
         url('fonts/Avenir-Black-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}