{% include head.html %}

    <h1>{{ page.title }}</h1>

    {% if page.content %}<div class="content">{{ page.content | markdownify }}</div>{% endif %}

    {% if page.books %}
        {% for book in page.books %}
            {% capture item_subtitle %}
                <b>{{ book.author }}</b> &mdash; {{ book.title }}
            {% endcapture %}
            {% assign item_detail = book.month %}
            {% assign item_content = book.description %}
            {% include item.html %}
        {% endfor %}
    {% endif %}

    {% if page.collection == "writing" %}
        {% assign items = site.writing | sort:"date" | reverse %}
        {% for item in items %}
            {% if item.hide != true %}
                {% capture item_css %}
                    tagged {% for tag in item.tags %} {{ tag }}{% endfor %}
                {% endcapture %}
                {% assign item_link = item.url %}
                {% assign item_title = item.title %}
                {% capture item_detail %}
                    {{ item.date | date: "%B %Y" }} / {{ item.content | number_of_words }} words
                {% endcapture %}
                {% assign item_content = item.content | strip_html | newline_to_br | truncate: 150 %}
                {% assign item_tags = item.tags %}
                {% include item.html %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if page.collection == "projects" %}
        {% assign items = site.projects | sort:"endDate" | reverse %}
        {% for item in items %}
            {% capture item_css %}
                tagged {% for tag in item.tags %} {{ tag }}{% endfor %}
            {% endcapture %}
            {% assign item_link = item.url %}
            {% assign item_title = item.title %}
            
            {% assign timespanStart = item.startDate %}
            {% assign timespanEnd = item.endDate %}
            {% capture item_detail %}{% include timespan.html %}{% endcapture %}

            {% assign item_content = item.description %}
            {% assign item_tags = item.tags %}
            {% include item.html %}
        {% endfor %}
    {% endif %}
	
{% include foot.html %}