{% include head.html %}

    <div class="content">
        <div class="container">
            <h1>{{ page.title }}</h1>
        </div>
    </div>    

    <div class="stats">
        <div class="container">
        {% for stat in page.stats %}
            <div class="stat">
                <div class="title">{{ stat.title }}</div>
                <div class="value" id="{{ stat.id }}"></div>
                {% if stat.hasNote %}<div class="note" id="{{ stat.id }}Note"></div>{% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
    <div id="map"></div>

    <script type="text/javascript">

        // Initialize variables
        var map, dayValue, locationValue, locationNote, bookValue, bookNote;

        // Update note element with timestamp
        function updateNoteWithTime (element, time) {
            var timestring = moment(time, "X").fromNow();
            element.text("Updated "+timestring+" via SMS");
        }

        // Setup function for Google Maps
        function initMap() {

            // Initialize map
            map = new google.maps.Map(document.getElementById('map'), {
                mapCenter: new google.maps.LatLng(44.9706756,-93.3315183), // Minneapolis, MN
                zoom: 15
            });

            // Get location from server
            locationValue = $("#location");
            locationNote = $("#locationNote");
            locationValue.text("Loading...");
            $.ajax({
                url: "http://api.tomasroy.com/mississippi/latestLocation",
                dataType: "json",
                success: function (data) {

                    // Get center based on coordinates
                    var latitude = data.location.lat;
                    var longitude = data.location.long;
                    var mapCenter = new google.maps.LatLng(latitude,longitude);
                    map.panTo(mapCenter);

                    // Reverse geocode cordinates
                    var geocoder = new google.maps.Geocoder;
                    geocoder.geocode({'location': mapCenter}, function(results, status) {

                        // Upon success...
                        if (status === 'OK') {

                            // Add marker
                            var marker = new google.maps.Marker({
                                position: mapCenter,
                                map: map
                            });

                            // Display locality
                            var result = results[0];
                            var string = "";
                            for (var i in result.address_components) {
                                if (result.address_components[i].types[0] == "locality") 
                                    string += result.address_components[i].long_name;
                                if (result.address_components[i].types[0] == "administrative_area_level_1")
                                    string += ", "+result.address_components[i].short_name;
                            }
                            locationValue.text(string);
                        } 
                        
                        else locationValue.text(latitude+" / "+longitude);
                    });

                    // Update note with time
                    updateNoteWithTime(locationNote, data.location.time);
                },
            });
        }

        // Make changes when ready
        $(document).ready(function () {

            // Get values to update
            dayValue = $("#day");
            bookValue = $("#book");
            bookNote = $("#bookNote");

            // Get book from server
            bookValue.text("Loading...");
            $.ajax({
                url: "http://api.tomasroy.com/mississippi/latestBook",
                dataType: "json",
                success: function (data) {
                    bookValue.text(data.book.title);
                    updateNoteWithTime(bookNote, data.book.time);
                },
            });

            // Set date
            let start = moment("2018-08-06", "YYYY-MM-DD");
            let now = moment();
            dayValue.text(now.diff(start, "days"));

        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcqpBsZtl9bSzu7P6a0WVEFbI4w77bavM&callback=initMap&libraries=places" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

{% include foot.html %}
