{% include head.html %}

	<div class="content post">
		<div class="container">
			<a class="return-link" href="/writing"><i class="fas fa-arrow-alt-circle-left"></i> View all writing</a>
			<h1 class="pagetitle">{{ page.title }}</h1>
			<div class="detail">{{ page.date | date: "%B %Y" }}</div>
			<div class="tags">
				{% for tag in page.tags %}<a href="/writing?tag={{tag}}"><span class="{{ tag }}">{{ tag }}</span></a>{% endfor %}
			</div>
			{{ page.content | markdownify }}
			<a class="return-link" href="/writing"><i class="fas fa-arrow-alt-circle-left"></i> View all writing</a>
		</div>
	</div>

	<script type="text/javascript">$("body").prognroll({color: "#333", height: 3});</script>
	
{% include foot.html %}
