{% include head.html %}

	<a class="return-link" href="/projects"><i class="fas fa-arrow-alt-circle-left"></i> View all projects</a>

	<div class="content">
		<div class="container">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description }}</p>
			<div class="buttons">
				{% for button in page.buttons %}
				<a href="{{ button.url }}">{{ button.name }}</a>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="screens">
		{% for screen in page.screens %}
		<div class="screen-item">
			<div class="screen"><img src="{{ screen.image }}" /></div>
			<span class="caption">{{ screen.caption }}</span>
		</div>
		{% endfor %}
	</div>

	<div class="content left-align">
		<div class="container">
			{{ page.content | markdownify }}
		</div>
	</div>

	{% if page.bullets %}
	<div class="bullets left-align">
		<div class="container">
			{% for bullet in page.bullets %}
			<div class="bullet">
				<div class="icon {{ bullet.icon }}"></div>
				<h2>{{ bullet.title }}</h2>
				{{ bullet.description | markdownify }}
				<div class="clear"></div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}

	{% if page.studies %}
	<div class="content left-align">
		<div class="container">
			<h2>Case Studies</h2>
			{% for study in page.studies %}
			<div class="study row">
				{% if study.image %} 
					<img src="{{ study.image }}" />
				{% else %}
					<h2>{{ study.title}}</h2>
				{% endif %}
				{{ study.description | markdownify }}
				{% if study.links %}
				<div class="links">
					{% for link in study.links %}
						<a href="{{ link.url }}">{{ link.title }}</a>
					{% endfor %}
				</div>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}

	<a class="return-link" href="/projects"><i class="fas fa-arrow-alt-circle-left"></i> View all projects</a>
	
{% include foot.html %}
