{% include head.html %}

	<div class="content">
		<div class="container">
			<h1 class="pagetitle">{{ page.title }}</h1>
			{{ page.content | markdownify }}
			{% for book in page.books %}
				<div class="book">
					<h3>{{ book.title }}</h3>
					<div class="author">{{ book.author }}</div>
					<div class="date">{{ book.month }}</div>
					{% if book.quotes %}
						<div class="quotes">{{ book.quotes | markdownify }}</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
	
{% include foot.html %}
